span {color:Brown; font-weight:bold; text-decoration:underline;}
form {background-color:#f5f979;width:100%;top:auto;left:auto;right:auto;bottom:auto; padding:10px;}
legend{color:red; font-style:italic}
h4{color:brown;}
form input{border:2px solid;border-radius:20px;}
fieldset input:focus{width:200px;background-color:grey;color:blue;}
fieldset input:hover {background-color:grey;}
#transp input:focus{width:auto;background-color:grey;color:blue;}
fieldset label{width:200px;height:15px;float:left;}
#idempleado{width:auto;height:15px;}
textarea{border-radius:20px;width:200px;height:100px;border:2px solid}
#user{color:blue;}
#datos{color:darkgreen;}
#transp{color:brown;}