html{
	background-color:  #b0e6d177;
	font-family: Calibri, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Copperplate Gothic ;
	margin-top: 0px;
	text-align: center;
	align-items: center;
	justify-items: center;
	width: 100%;
	height: auto;
	margin: 0;
}
/*div {
	text-align:center;
	width:auto;
	margin-right:auto;
	margin-left:auto;	
	align-items:center;
}*/

h1 {
	font-size: 1.8em;

	font-weight: bold;
	margin-bottom:1.7em;
}

h2 {
	font-weight: bold;
	font-size: 1.5em;
	margin-top:1em;

	width:auto;
	position:relative;
	border-collapse: collapse;
	margin-bottom:0.7em;	

}

h3 {
	font-size: 1.2em;
	/*font-weight: bold;*/
	margin-bottom:0.7em;
}

table {

	font-size: 1.3em;
	width:auto;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	position:relative;
	text-align: center;

}


th{
	
	padding-left:0.4em;
	padding-right:0.4em;
	border:none;
}
td{
	padding-left:0.5em;
	padding-right:0.7em;
	border:none;
}

.tabla2 th{
	float:left;
	margin-right:4em;
}

.tabla2 td{
	float:right;
	margin-left:4em;

}


.campo{
	position: relative;
	margin: auto;
	display:block;		
	padding:1em;	
}


.checkbox{
	width: 1.3em; 
	height: 1.3em; 
	margin-top:1.5em;

}

.radio{
    border:0;
    height:1.4em;
	width:1.4em;
	margin-right:0;
	margin-left:1.2em;
}

.opcion_radio{
display:inline-flex;

}

img {
	border-radius: 0.7em;
	border: solid 3px #b68b2e;
	width :20em; 
	height : 20em;
}

.img_stock {
	border-radius: 0.7em;
	border: solid 3px #b68b2e;
	width:3em;
	height:3em;
}
.membrete{
	border-radius: 0.7em;
	border: solid 3px #b68b2e;
	width :15em; 
	height : 10em;
}

#titulo_imagen{
	padding:0.2em;
	display:block;
	font-size: 1.3em;
	font-weight: bold;
}

#imagen{
	padding:0.2em;
	/*background-color: #b0e6d1;*/
	border-radius: 0.7em;
	border: 4px double;
	text-align: center;
	display:inline-block;

}


ul {
	list-style: none;
	
}


li {
	border-radius: 0.7em;
	border: 4px double;
	/*border-color: #e7a109;*/
	text-align: center;
	padding:0.8em;
	display: inline-block;
	background-color: #ddc45285;
	margin:0.2em;
}


li a{
	font-size: 1.3em;
	
}



a:hover {

	background-color:#89ad506e;

}

table a{
	font-size: 1.1em;
}


form{
	height:100%;
	margin-left: auto;
	margin-right: auto;
	position:relative;

	
	}
	
fieldset {
		position: relative;
		margin: auto;
		display:inline-flex;		
		padding:1em;
	}


legend {
	/*float:left;*/
	/*position: relative;*/
	margin-left: auto;
	top: -1em;
	font-weight: bold;
	position:absolute;

	width:auto;
	border-collapse: collapse;
	font-size: 1.7em;
	}

label {
	justify-content: center;
	margin-bottom:1em;
	font-size: 1.2em;
	font-weight: bold;
	display: flex;

}



button {
	padding: 0.7em;
	border-radius: 0.7em;
	border: 3px solid;
	border-color: #aa702e;
	background-color: #ddc45285;
	width: auto;
	font-size: 1.1em;
	margin:0.2em;

}

button:hover {

	outline: 3px dashed #ff8c00;
}

input {
	border-radius: 0.7em;
	border: 2px solid;
	border-color: #00806bc9;
	height:2em;
	width:12em;
	background-color: #b0e6d177;
	/*margin-bottom:1.4em;*/
	/*font-weight: bold;*/
	margin: 1em;
	
}

.input_stock{
width:4em;
	
}

.input_descrip{
width:30em;

}
#boton_reset{
	padding: 0.5em;
	border-radius: 0.7em;
	border: 3px solid;
	border-color: #aa702e;;

	width: auto;
	font-size: 1.1em;
}
#boton_reset:hover{

	outline: 3px dashed #ff8c00;
}

input:hover {
	background-color: #ddc45285;

}

input:focus {
	outline: 3px dashed #ff8c00;

}
select{
	border-radius:0.7em;
	border:2px solid;
	border-color: #00806bc9;
	height:2.5em;
	width:12em;
	text-align:center;
	margin-right: 1.1em;
	margin:1em;
	background-color: #b0e6d177;

}

select:hover {
	background-color: #00806b73;
	}



select:focus {
	outline: 2px dashed #ff8c00;
}

/*.bienvenida{


}*/


footer {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	background: #63bb60d5;
	position:absolute;
	
}

span{
	display: inline-block;
}
.upper{
	text-transform: uppercase;
}

.critical {
	border-color: red;
	border-width: 4px;
}
.critical_green{
	border-color: green;
	border-width: 4px;
}

.importante{
	color:red;
	font-weight:bold;
	font-size: 1.1em;
	display:flex;
	text-align: left;
	margin: auto;
	width: 35%;
	
}

.banner {
	height: 6em;
	/*background-image: '../imagenes/banner.png' no-repeat #7cac2e;*/
	background: url("../imagenes/banner.jpg") no-repeat;
	background-position: center center;
	background-color: #63bb60d5;
	margin-top:0; 
}

#migas_pan{
	font-weight: bold;
	font-size:1.1em;
	display:flex;
	align-self: left;
	margin-left:2em;
}

.mensaje{	
	font-size: 1.5em;
	font-weight: bold;
	color: #001aff;
	
}

.titular {

	width:auto;
	position:relative;

}

/*.titular td{
	border:3px double;
	padding-inline-end: 10px;
	padding-inline-start: 10px;

	}*/



#sugerencias{
	color: #0080FF;
	display: inline;
}
.imprimible *{
	color:black;
	
}
		
/*.izq{
	justify-content: center;
	text-justify: left;
	align-items: left;
}*/


.cuadro{
	border: 0.2em solid black;
	border-collapse: collapse;	
	margin-bottom:0.5em;

	
}
.cuadro td{
	padding: 0.2em;

}

	

.membrete{
	border-radius: 0.7em;
	border: solid 3px #b68b2e;
	width :15em; 
	height : 10em;
}


/*footer{ 
	position: fixed;
	border-style:solid;
	border-radius:20px;
	background-color:coral;
	color: green;
	bottom: 0;
	animation: mymove 5s infinite;
	display:flex;
	left: 0;
	right: 0;
	height: 40px;
	justify-content:center;
	align-items:center;
}
@keyframes mymove {
	50% {bottom: 25px;}
}*/

	
