body{text-align:center}
.nombre{background-color:#92a8d1}
.artista {background-color: #b5e7a0}
.year {background-color:#f7786b}
.discogra {background-color:#ffef96}
.formato {background-color:#f1e3dd}
h2{color:brown;font-family:Tahoma}
table{background-color:orange; font-style:italic;font-weight:bold;border-color:black}
td{padding:15px;width:150px;height:60px;border:3px solid;text-align:center;font-size:18px}
th{padding:10px; font-size:22px;background-color:b9936c;80px;border:3px solid;}

