<!-- base.html  -->
<!doctype html>
<html lang="es">
 
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="http://localhost/proyecto/tienda/" />  <!-- Establezco url "base" de la que parten de forma relativa el resto, simplificando las redirecciones-->
    <link rel="stylesheet" type="text/css" href="css/tarea5.css">
    {% block stylesheets %}
  
    {% endblock %}

    {% block script %}

    {% endblock %}
    
    {% block migas_pan %}
    <p>Estás en: <u><b>{{URI}}</b> </u> </p>
    {% endblock %}

</head>

    <body>
		<header class="banner"></header>
        
        {% block toolbar %}      
        <nav>
            <!-- Menú de navegación -->
			<div>
                <ul class="sidemenu">
            
                        <li><a href="index.php">Nuestos Productos</a></li>    
                        <li><a href="index.php/cuenta" >Mi Cuenta</a></li>        
                        <li><a href="index.php/cesta" >Mi Cesta ( {{total_prods}} )</a></li>        
                        <li><a href="index.php/contacto">Contacto</a></li>
                        
                        
                </ul>        
            </div>
        </nav>    
        {% endblock %}
        <div>  
            {% block login %}
        
            {% endblock %}
        </div>

        
        <!-- En este bloque se cargará el contenido -->
        <div>  
        {% block busqueda %}
    
        {% endblock %}
        </div>


		<div>
        {% block content %}{% endblock %}
        </div>



        <footer>
            <!-- Contenido del footer -->
            2023 Daniel del Valle Gonzalez Proyecto Fin de FP
        </footer>

    </body>


</html>
