{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/base.css">
<meta http-equiv="refresh" content="3;url=index.php" />  <!-- redirige al login tras 3 segundos, para poder visualizar el mensaje de despedida -->
{% endblock %}

{% block migas_pan %}

{% endblock %}

{% block toolbar %}	
<!-- en esta plantilla no quiero ningun tipo de link por seguridad, asi que copio el toolbar en blanco para sobreescribir el heredado de "base.html" -->
{% endblock %}

{% block content %}	

	<p>
	<h1><b><br>Cerrando sesión <br><br><br> ¡¡Hasta Pronto!! </h1></b></p>


{% endblock %}
