{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/tarea8.css">
{% endblock %}


{% block content %}		
{% block mensaje %}
<p class='mensaje'>{{mensaje}}</p><br>
{% endblock %}

<form method="POST"  action="" autocomplete>

    <h3 class='titulo'>CESTA DE {{cliente.nombre}}</h3>
    <table id ='cesta' >
    <th>Id_Producto</th><th>Nombre</th><th>Cantidad</th><th>€/Kg</th><th>Subtotal</th>

        {% for key, producto in cesta %}
        <tr>
        <td><input type="checkbox" name="checkbox[]" class="checkbox"  value= {{producto.id}}>
        {{producto.id}}</td><td>{{producto.nombre}}</td><td>{{producto.cantidad}}</td><td>{{producto.precio}}</td><td>{{ producto.cantidad * producto.precio}}€</td>
        <td><a href="http://localhost/proyecto/tienda/index.php/detalle_producto?id={{producto.id}}">Ver Producto</a></td>
        </tr>

        {% endfor %}    

          <tr><td><h2>Total Productos: {{total_prods}}</h2></td></tr>
          <tr><td><h2>Total Peso mercancias: {{total_kg}} Kilo(s)</h2></td></tr>
          <tr><td><h2>Total Precio mercancias: {{total_precio}} €</h2></td></tr>    
          <tr><td><h2>Total pedido(mercancía + envío): PENDIENTE</h2></td></tr>  
    </table>
  

        <div>

                <!--  el botón "Cerrar Sesion" da la orden de borrar datos de sesión y elimina cookie-->

            <fieldset>
                <button type="submit" name="borrar_producto" method="POST">Borrar Producto</button>

                    <button type="submit" name="vaciar_cesta" method="POST">Vaciar la Cesta</button>

                         
                    <button type="submit" name="confirmar_datos" method="POST">Confirmar Datos</button>
     
                    <button type="submit" name="cerrar_sesion" method="POST">Cerrar Sesion</button>


                </fieldset>
            </form>
        </div>



</html>
{% endblock %}	