{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/tarea5.css">
{% endblock %}


{% block content %}		


<body>
        <p>
            
        <h3 class='titulo'>CESTA DE {{usuario}}</h3>


        <div contact>
            <form method="POST"  action="" autocomplete>

                <button type="submit" name="perfil" method="POST">Mi Perfil</button>

                <button type="submit" name="cesta" method="POST">Cesta de la Compra</button>

                <button type="submit" name="ver_productos" method="POST">Ver Productos</button>
                
                <!--  el botón "Cerrar Sesion" da la orden de borrar datos de sesión y elimina cookie-->

                    <button type="submit" name="cerrar_sesion" method="POST">Cerrar Sesion</button>
                </fieldset>
            </form>
        </div>

</body>

</html>
{% endblock %}	