{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/base.css">
{% endblock %}

{% block content %}


<form method="POST" action="" autocomplete accept-charset="UTF-8">

    <h3 class='titulo'>FORMA DE PAGO Y CONFIRMACIÓN DE PEDIDO</h3><br>
    <fieldset>
        <legend>DATOS DE ENTREGA</legend>
        <table class='datos_cliente'>
            <tr>
                <th>NIF</th>
                <th>Nombre</th>
                <th>Apellidos</th>
            </tr>
            <tr>
                <td>{{cliente.nif}}</td>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.apellidos}}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <th>Email</th>
            </tr>
            <tr>
                <td>{{cliente.email}}</td>
                <td>{{cliente.telefono}}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <th>Localidad</th>
                <th>Codigo Postal</th>
                <th>Provincia</th>
            </tr>
            <tr>
                <td>{{cliente.direccion}}</td>
                <td>{{cliente.localidad}}</td>
                <td>{{cliente.cod_postal}}</td>
                <td>{{cliente.provincia}}</td>
            </tr>


        </table>
    </fieldset>
    <fieldset>
        <legend>DESGLOSE DE COSTES</legend>
        <table class='cesta'>
            <th>Nombre</th>
            <th>Id_Producto</th>
            <th>Cantidad</th>
            <th>€/Kg</th>
            <th>Subtotal</th>

            {% for key, producto in cesta %}
            <tr>
                <td>{{producto.nombre}}</td>
                <td>{{producto.id}}</td>
                <td>{{producto.cantidad}}</td>
                <td>{{producto.precio}}</td>
                <td>{{ producto.cantidad * producto.precio}}€</td>
            </tr>
            {% endfor %}
            <tr>
                <td>
                    <h2>Total Productos: {{total_prods}}</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Total Peso mercancias: {{total_kg}} Kilo(s)</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Total Precio mercancias: {{total_precio}} €</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Total pedido(mercancía + envío): PENDIENTE</h2>
                </td>
            </tr>
        </table>
    </fieldset>
    <fieldset>
        <legend>FORMA DE PAGO</legend>
        <input type="radio" id='bizum' name="forma_pago" value='bizum' />
        <label for='bizum'>Bizum</label>
        <input type="radio" id='transferencia_bancaria' name="forma_pago" value='transferencia_bancaria' />
        <label for='transferencia_bancaria'>Transferencia Bancaria</label>
    </fieldset>

 
        <legend>COMENTARIOS SOBRE SU PEDIDO</legend>
        <textarea name="notas" rows="10" cols="75"
            maxlength="200"></textarea>
        <br>
        <p >Indíquenos preferencias de entrega, horario, etc. Intentaremos cumplir con sus
            peticiones.
            <br> Si se trata de algo urgente, puede escribir a nuestro whatsapp: 666555444</p>
        <br>
       

    <input type="reset" value="Borrar texto" />


    <!--  <input type="submit" value="Guardar y enviar" />-->



    <div>
        <!--   el botón "Cerrar Sesion" da la orden de borrar datos de sesión y elimina cookie-->

        <button type="submit" name="volver_cesta" method="POST">Volver a la Cesta</button>

        <button type="submit" name="volver_datos" method="POST">Volver a Datos de Envío</button>

        <button type="submit" name="confirmar_pedido" method="POST">Confirmar Pedido</button>
    </div>
</form>

<form method="GET">
    <input type="hidden" name="id_pedido" value="{{id_pedido}}">
    <!-- Este campo es necesario para poder enviarse a la URL con el GET cuando se confirme el pedido-->
</form>




{% endblock %}