{% extends "base_empl.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/base_empl.css">
{% endblock %}

{% block content %}


<form method="POST" action="" autocomplete accept-charset="UTF-8">

    <fieldset>

        <legend>Busqueda</legend>

        <label for="id_factura">ID Factura</label>
        <input type="text" name="id_factura" id="id_factura" value="{{id_factura}}"><br>
        <label for="estado_fact">Estado Factura</label>
        <input type="text" name="estado_fact" id="estado_fact" value="{{estado_fact}}">
        <label for="id_pedido">ID Pedido</label>
        <input type="text" name="id_pedido" id="id_pedido" value="{{id_pedido}}"><br>
        <label for="nif">NIF</label>
        <input type="text" name="nif" id="nif" value="{{nif}}">
    </fieldset><br>
    <fieldset>

        <label for="total_pedido">Total Pedido</label>
        <input type="text" name="total_pedido" id="total_pedido" value="{{total_pedido}}"><br>
        <label for="forma_pago">Forma Pago</label>
        <input type="text" name="forma_pago" id="forma_pago" value="{{forma_pago}}"><br>
        <label for="creado_fecha">Fecha Creación</label>
        <input type="text" name="creado_fecha" id="creado_fecha" value="{{creado_fecha}}"><br>
        <label for="cancelado_fecha">Fecha Cancelación</label>
        <input type="text" name="cancelado_fecha" id="cancelado_fecha" value="{{cancelado_fecha}}"><br>

    </fieldset><br>

    <fieldset class="opcion_radio">
        <input type="radio" name="filtro" class="radio" value='todas' />
        <label for="filtro">Todas</label>
        <input type="radio" name="filtro" class="radio" value='activas'>
        <label for="filtro">Activas</label>
        <input type="radio" name="filtro" class="radio" value='anuladas'>
        <label for="filtro">Anuladas</label>

    </fieldset>
    <fieldset>
        <button type="submit" name="buscar" method="POST">Buscar</button>
    </fieldset><br>

    <fieldset>
        <legend>Facturas</legend>
        <table>
            <th></th>
            <th>Id Factura</th>
            <th>Estado Factura</th>
            <th>Id Pedido</th>
            <th>Nif</th>
            <th>Total Factura</th>
            <th>Forma Pago</th>
            <th>Fecha Creado</th>
            <th>Fecha Cancelación</th>

            {% for factura in lista_facturas %}
            <tr>
                <td><input type="checkbox" name="factura_select[]" class="checkbox" value={{factura.id_factura}}></td>
                <td><a href="http://localhost/proyecto/tienda/index.php/detalle_factura?id_factura={{factura.id_factura}}">{{factura.id_factura}}</a></td>
                <td>{{factura.estado_fact}} </td>
                <td><a href="http://localhost/proyecto/tienda/index.php/detalle_pedido?id_pedido={{factura.id_pedido}}">{{factura.id_pedido}}</a> </td>
                <td><a href="http://localhost/proyecto/tienda/index.php/detalle_cliente?nif={{factura.nif}}">{{factura.nif}}</a> </td>
                <td>{{factura.total_pedido}} </td>
                <td>{{factura.forma_pago}} </td>
                <td>{{factura.creado_fecha}} </td>
                <td>{{factura.cancelado_fecha}} </td>               

       

            </tr>
            {% endfor %}
        </table>

    </fieldset><br>
<fieldset>
    <button class='critical' type="submit" name="anular_factura" method="POST">Anular Factura</button>

</fieldset>
</form>



{% endblock %}