{% extends "base_empl.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/base.css">
{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<script>
$(document).ready(function(){
    $("#busqueda").keyup(function(){
        $.ajax({
            type:"GET",
            url: "modelo.php",
            data: {"q":$("#busqueda").val()},
            success: function(data) {
                $("#sugerencias").html(data);
            }
        });
    });
//    $("#busqueda").keyup(function(){
//        $("#sugerencias").load("sugerenciasPHP.php?q=" + $("#busqueda").val());
//    });
});
</script>


{% endblock %}

{% block login %}

<a href = "http://localhost/proyecto/tienda/index.php/{{logged}}">{{logged_legible}}</a><br>


{% endblock %}

{% block busqueda %}

<form accept-charset="UTF-8"> 
<!--
    Cada vez que tecleamos algo en este field se ejecutará mostrar_sugerencias 
-->
<label for "busqueda">Introduzca el producto a buscar</label>
<input type="text" id="busqueda">
 
<!-- En el span con id="sugerencias" mostraremos las coincidencias -->
<p><strong>Sugerencias:</strong> <span id="sugerencias"></span></p>	
  
</form>
{% endblock %}


{% block content %}
<form accept-charset="UTF-8"> 
        <table>
            <th></th>
            <th></th>
            <th></th>
            <th>Id Producto</th>
            <th>Nombre</th>
            <th>Stock (Kg)</th>
            <th><p  {{funcion_admon}}>Precio (€/Kg)</p></th>
            <th><p {{funcion_admon}}>Descripcion</p></th>
            <!-- Mostramos una lista de los artículos-->
			{% for producto in lista_productos %}
                <tr>              
                <td><input type="checkbox" name="producto_select[]" class="checkbox" value={{producto.id_prod}}></td>   
                <td></td>
  
                <td><img class='img_stock'src="imagenes/{{producto.nombre}}.jpg"/> </td>
                <td><input type="hidden" value ="{{producto.id_prod}}"></input>{{producto.id_prod}}</td>	
                <td><input type="text" name='nombre' value="{{producto.nombre}}"></input></td>	
                <td><input class='input_stock' type="text" name='stock' value="{{producto.stock}}"></input></td>	
                <td><input {{funcion_admon}} class='input_stock' type="text" name='precio' value="{{producto.precio}}"></input></td>
                <td><input {{funcion_admon}} class='input_descrip' type="text" name='descripcion' value="{{producto.descripcion}}"></input></td>
            </tr>        

            {% endfor %}
        </table>
        <p class='importante'>
            {{validaciones.val_nombre}}<br>{{validaciones.val_stock}}<br>{{validaciones.precio}}<br>{{validaciones.descrip}}
        </p><br>

        <button type="submit" name="guardar_cambios"method="POST">Guardar Cambios</button>
</form>
{% endblock %}	