{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/tarea8.css">
{% endblock %}

{% block content %}


<form method="POST" action="" autocomplete>

    <h3 class='titulo'>Confirmar Datos del Envío</h3>
    <div>
        <table id="datos_cliente">
            <tr>
                <th>NIF</th>
                <th>Nombre</th>
                <th>Apellidos</th>
            </tr>
            <tr>
                <td><input type="text" value='{{cliente.nif}}'></input></td>
                <td><input type="text" value='{{cliente.nombre}}'></input></td>
                <td><input type="text" value='{{cliente.apellidos}}'></input></td>
            </tr>
            <tr>
                <th>Telefono</th>
                <th>Email</th>
            </tr>
            <tr>
                <td><input type="text" value='{{cliente.email}}'></input></td>
                <td><input type="text" value='{{cliente.telefono}}'></input></td>
            </tr>
            <tr>
                <th>Direccion</th>
                <th>Localidad</th>
                <th>Codigo Postal</th>
                <th>Provincia</th>
            </tr>
            <tr>
                <td><input type="text" value='{{cliente.direccion}}'></input></td>
                <td><input type="text" value='{{cliente.localidad}}'></input></td>
                <td><input type="text" value='{{cliente.cod_postal}}'></input></td>
                <td><input type="text" value='{{cliente.provincia}}'></input></td>
            </tr>


        </table>
    </div>

    <div>
        <fieldset>
            <!--   el botón "Cerrar Sesion" da la orden de borrar datos de sesión y elimina cookie-->

            <button type="submit" name="volver_cesta" method="POST">Volver a la Cesta</button>

            <button type="submit" name="confirmar_datos" method="POST">Confirmar Datos</button>

            <button type="submit" name="cerrar_sesion" method="POST">Cerrar Sesion</button>

        </fieldset>
    </div>

</form>

{% endblock %}