{% extends "base_empl.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/tarea7.css">
{% endblock %}

{% block content %}

<form method="POST" action="" autocomplete>
    <fieldset>
    <div>
    <h2 class='titulo'>MIS DATOS PERSONALES</h2>

    <table id="datos_empleado">
            <tr>
                <th>NIF</th>
                <th>Nombre</th>
                <th>Apellidos</th>
            </tr>
            <tr>
                <td>{{empleado.nif}}</td>
                <td>{{empleado.nombre}}</td>
                <td>{{empleado.apellidos}}</td>
            </tr>
    </table>
    </div>
</fieldset>     
<fieldset>   
    <div>
    <h2 class='titulo'>MIS DATOS DE CONTACTO</h2>
    <table id="datos_empleado">
            <tr>
                <th>Email</th>
                <th>Telefono</th>
            </tr>
            <tr>
                <td>{{empleado.email}}</td>
                <td>{{empleado.telefono}}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <th>Localidad</th>
                <th>Codigo Postal</th>
                <th>Provincia</th>
            </tr>
            <tr>
                <td>{{empleado.direccion}}</td>
                <td>{{empleado.localidad}}</td>
                <td>{{empleado.cod_postal}}</td>
                <td>{{empleado.provincia}}</td>
            </tr>


        </table>
    </div>
</fieldset>
<fieldset>   
    <div>
    <h2 class='titulo'>OTROS DATOS</h2>
    <table id="datos_empleado">
            <tr>
                <th> Tipo de Cuenta</th>
                <th>Fecha Creación de la Cuenta</th>
                <th>Estado de la Cuenta</th>
            </tr>
            <tr>
                <td>{{empleado.tipo_cuenta}}</td>
                <td>{{empleado.creado_fecha}}</td>
                <td>{{empleado.estado_cuenta}}</td>
            </tr>


        </table>
    </div>
</fieldset>

<fieldset>
    <div>

        <!--   el botón "Cerrar Sesion" da la orden de borrar datos de sesión y elimina cookie-->

        <button type="submit" name="editar_datos" method="POST">Editar Datos</button>

        <button type="submit" name="cambiar_contrasena" method="POST">Cambiar Contrasena</button>

        <button type="submit" name="guardar_cambios" method="POST">Guardar Cambios</button>

  



    </fieldset>

    </div>
</form>



{% endblock %}