{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/base.css">
{% endblock %}

{% block content %}				
			
			
{% set boton_anadir = '' %} 
{% set texto_stock = "STOCK DISPONIBLE: #{producto.stock} Kilo(s)"  %}
{% if producto.stock <= 0 %}    
	{% set boton_anadir = 'disabled' %}   
	{% set texto_stock = 'Producto Temporalmente No Disponible' %} 	
{% endif %}
				<h3><p class = 'upper'>{{producto.nombre}}</p> <br> ID Producto: {{producto.id_prod}}</h3> 
				<img width="400" height="400" src="imagenes/{{producto.nombre}}.jpg"/> 
				<h3>PRECIO: {{producto.precio}}€ / Kilo</h3>
				<h3>{{texto_stock}} </h3>
				<h3>DESCRIPCION: {{producto.descripcion}}</h3>


				<form action="" method="POST">
					<button {{boton_anadir}} type="submit" name="anadir_producto" />Añadir Producto a la Cesta</button>
				</form>

				<form action="index.php" method="POST">
					<button type="submit" name="volver" value="Volver"/>Volver a Tienda</button>
				</form>
{% endblock %}	