

	<!DOCTYPE HTML>
	<html lang="es">
	
	<head>
	
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- 	<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
		<base href="http://localhost/proyecto/tienda/">
	
	
	</head>
	
	<body>
		<header class="banner"></header>

		<h1>Factura:{{factura.id_factura}}</h1>	
		<h3>Fecha factura: {{factura.creado_fecha}}</h3>	
		<h3>Pedido Nº: {{factura.id_pedido}}</h3>	
		<h3>Factura Rectificativa: {{factura.fact_rectif}}</h3>	

	
		<!-- 	<img src="imagenes/banner.jpg"> -->
			<table>
				<tr><td>FRUTAS DEL VALLE S.L.U</td></tr>
				<tr><td>123456789A</td></tr>
				<tr><td>Avenida de las Huertas, 39</td></tr>
				<tr><td>58550 ALMERIA</td></tr>
			</table>
			
			<table>
				<tr><td>{{factura.nombre}}</td></tr>
				<tr><td>{{factura.direccion}}</td></tr>	
				<tr><td>{{factura.localidad}}</td></tr>
				<tr><td>{{factura.cod_postal}}{{factura.provincia}}</td></tr>
				<tr><td><b>CIF/NIF: {{ factura.nif}}</b></td></tr>
			</table>
			<table>
				<tr><th>CONCEPTO</th></tr>
				<th>Id Producto</th>
				<th>Nombre</th>
				<th>Cantidad</th>
				<th>Precio/Kg</th>
				<th>Subtotal</th>
				{% for key, producto in contenido %}
				<tr>	
				<td>	{{producto.id_prod}}</td>	
				<td>	{{producto.nombre}}</a></td>	
				<td>	{{producto.cantidad}} Kg</td>	
				<td>	{{producto.precio}} €</td>	
				<td>	{{producto.cantidad * producto.precio}} €</td>	
				</tr>
				{% endfor %}
			</table>
			<table>
				<tr><th>Total Coste Productos: </th><td>{{factura.total_mercancia}} €</td></tr>    
				<tr><th>Coste de Envío: </th><td>{{factura.coste_envio}} €</td></tr>    
				<tr><th>Base Imponible: </th><td>{{factura.base_imponible}} €</td></tr>    
				<tr><th>IVA: </th><td>{{factura.iva}} €</td></tr>    
				<tr><th>TOTAL FACTURA:</th><td><b>{{factura.total_pedido}}€</b></td></tr>  
			</table>
			<footer>
				2023 Daniel del Valle Gonzalez - Proyecto Fin de FP DAW
			</footer>