<!DOCTYPE HTML>
<html lang='es'>

<head>

	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<!-- 	<link rel='stylesheet' type='text/css' href='css/base_pdf.css'>-->


</head>

<body>
	<header></header>

	<h3>Factura:{{factura.id_factura}}</h3>
	<h4>Fecha factura: {{factura.creado_fecha}}</h4>
	<h4>Pedido Nº: {{factura.id_pedido}}</h4>
	<h4>Factura Rectificativa: {{factura.fact_rectif}}</h4>

	<table style="float:right;">
		<tr>
			<td>FRUTAS DEL VALLE S.L.U</td>
		</tr>
		<tr>
			<td>Avenida de las Huertas, 39</td>
		</tr>
		<tr>
			<td>58550 ALMERIA</td>
		</tr>
		<tr>
			<td>CIF.:123456789A</td>
		</tr>
	</table><br>
	<table>
		<tr>
			<td><b>{{factura.nombre}}</b></td>
		</tr>
		<tr>
			<td><b>{{factura.direccion}}</b></td>
		</tr>
		<tr>
			<td><b>{{factura.localidad}}</b></td>
		</tr>
		<tr>
			<td style='text-transform:uppercase;'><b>{{factura.cod_postal}} {{factura.provincia}}</b></td>
		</tr>
		<tr>
			<td><b>CIF/NIF: {{ factura.nif}}</b></td>
		</tr>
	</table><br>
	<table style='float:center'>
		<tr>
		<th>CONCEPTO</th>
		</tr>
		<th>Id Producto</th>
		<th>Nombre</th>
		<th>Cantidad</th>
		<th>Precio/Kg</th>
		<th>Subtotal</th>

		{% for key, producto in contenido %}
		<tr>
			<td> {{producto.id_prod}}</td>
			<td> {{producto.nombre}}</a></td>
			<td> {{producto.cantidad}} Kg</td>
			<td> {{producto.precio}} €</td>
			<td> {{producto.cantidad * producto.precio}} €</td>
		</tr>
		{% endfor %}
		<tr></tr>
		<tr><td></td><td></td><th>Total Coste Productos: </th><td></td>

			
			<td>{{factura.total_mercancia}} €</td>
		</tr>
		<tr><td></td><td></td><th>Coste de Envío: </th><td></td>
			
			<td>{{factura.coste_envio}} €</td>
		</tr>
		<tr><td></td><td></td><th>Base Imponible: </th><td></td>
			
			<td>{{factura.base_imponible}} €</td>
		</tr>
		<tr><td></td><td></td><th>IVA: </th><td></td>
			
			<td>{{factura.iva}} €</td>
		</tr>
		<tr><td></td><td></td><th>TOTAL FACTURA:</th><td></td>

			<td><b>{{factura.total_pedido}}€</b></td>
		</tr>

	</table><br>

</body>
</html>