{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/base.css">
{% endblock %}

{% block content %}				
			
			
{% set boton_anadir = '' %} 
{% set texto_stock = "STOCK DISPONIBLE: #{producto.stock} Kilo(s)"  %}
{% if producto.stock <= 0 %}    
	{% set boton_anadir = 'disabled' %}   
	{% set texto_stock = 'Producto Temporalmente No Disponible' %} 	
{% endif %}
				<h3><b><p class = 'upper'>{{producto.nombre}}</p></b> <br> ID Producto: {{producto.id_prod}}</h3> 
				<img src="imagenes/{{producto.nombre}}.jpg"/> 
				<h3><u>Precio</u>:   {{producto.precio}}€/Kg</h3>
				<h3><u>Stock Disponible</u>:   {{producto.stock}} Kg </h3>
				<h3><u>Descripción</u>:  {{producto.descripcion}}</h3>
	



				<form action="" method="POST">
					<button {{boton_anadir}} type="submit" name="anadir_producto" />Añadir Producto a la Cesta</button>
				</form>

				<form action="index.php" method="POST">
					<button type="submit" name="volver" value="Volver"/>Volver a Tienda</button>
				</form>
{% endblock %}	