{% extends "base_empl.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/base.css">
{% endblock %}

{% block content %}	
				

			<h2>{{producto.nombre}} - ID Producto: {{producto.id_prod}}</h2> 
			<img width="350" height="350" src="imagenes/{{producto.nombre}}.jpg"/> 			
			<h3>PRECIO:   {{producto.precio}}€/Kg</h3>
			<h3>STOCK DISPONIBLE:   {{producto.stock}} Kg </h3>
			<h3><u>DESCRIPCIÓN</u>:  {{producto.descripcion}}</h3>

			<button><a href="http://localhost/proyecto/tienda/index.php/modificar_mercancia?id={{producto.id_prod}}">Editar</a></button>      


				<form action="index.php/mercancia" method="POST">
					<button type="submit" name="volver" value="Volver"/>Volver a Mercancia</button>
				</form>

{% endblock %}	