{% extends "#{base}.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/{{base}}.css">
{% endblock %}

{% block content %}	
<!-- ESTA PLANTILLA LA COMPARTEN EMPLEADOS Y CLIENTES, GRACIAS A LA variable BASE y las que se derivan de ella. -->
	<div class = "imprimible"><br>

			<h1>Factura Nº: &nbsp&nbsp {{factura.id_factura}}</h1>

			<h3>Pedido Nº: &nbsp&nbsp {{factura.id_pedido}}</h3>
			<h3>Factura Rectificativa Nº: &nbsp&nbsp {{factura.fact_rectif}}</h3>

	
				<img width="150" height="100" src="imagenes/banner.png"> 
			<table class ='dcha'>
				<tr><td>FRUTAS DEL VALLE S.L.U</td></tr>
				<tr><td>123456789A</td></tr>
				<tr><td>Avenida de las Huertas, 39</td></tr>
				<tr><td>58550 ALMERIA</td></tr>
			</table>
			
			<table class ='izq'>
				<tr><td><b>{{factura.nif}}</b></td></tr>
				<tr><td>{{factura.nombre}}</td></tr>
				<tr><td>{{factura.direccion}}</td></tr>	
				<tr><td>{{factura.localidad}}</td></tr>
				<tr class='upper'><td>{{factura.cod_postal}}&nbsp{{factura.provincia}}</td></tr>
			</table>
			<table>
				<tr><th>CONCEPTO</th></tr>
				<th>Id Producto</th>
				<th>Nombre</th>
				<th>Cantidad</th>
				<th>Precio/Kg</th>
				<th>Subtotal</th>
				{% for key, producto in contenido %}
				<tr>	
				<td>	{{producto.id_prod}}</td>	
				<td><a href="http://localhost/proyecto/tienda/index.php/detalle_{{detalle}}?id={{producto.id_prod}}">{{producto.nombre}}</a></td>	
				<td>	{{producto.cantidad}} Kg</td>	
				<td>	{{producto.precio}} €</td>	
				<td>	{{producto.cantidad * producto.precio}} €</td>	
				</tr>
				{% endfor %}
			</table>
			<table class ='dcha'>
				<tr><th>Total Coste Productos: </th><td>{{factura.total_mercancia}} €</td></tr>    
				<tr><th>Coste de Envío: </th><td>{{factura.coste_envio}} €</td></tr>    
				<tr><th>Base Imponible: </th><td>{{factura.base_imponible}} €</td></tr>    
				<tr><th>IVA: </th><td>{{factura.iva}} €</td></tr>    
				<tr><th>TOTAL FACTURA:</th><td><b>{{factura.total_pedido}}€</b></td></tr>  
			</table>
		<div><br></br>

			<form action="index.php/detalle_pedido?id_pedido={{factura.id_pedido}}" method="POST">
				<button type="submit" name="volver" value="Volver"/>Volver</button>
			</form>
{% endblock %}	