{% extends "#{base}.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/{{base}}.css">
{% endblock %}



{% block content %}	
<!-- ESTA PLANTILLA LA COMPARTEN EMPLEADOS Y CLIENTES, GRACIAS A LA variable BASE y las que se derivan de ella. -->
{% if base =='base' %}
{% set detalle = 'producto' %}
{% set volver = 'mis_pedidos' %}
{% else %}
{% set detalle = 'mercancia' %}
{% set volver = 'control_pedidos' %}
{% endif %}
			<table id="datos_cliente">
			<th>Id Producto</th>
			<th>Nombre</th>
			<th>Cantidad</th>
			<!-- pedido.0.id_pedido para acceder a la id_pedido del primer producto ( está en todos pero sólo la necesito 1 vez)-->
			<h2>Detalles Pedido Nº: &nbsp&nbsp {{pedido.0.id_pedido}}</h2>   
			{% for key, producto in pedido %}
			<tr>	
			<td>	{{producto.id_prod}}</td>	
			<td><a href="http://localhost/proyecto/tienda/index.php/detalle_{{detalle}}?id={{producto.id_prod}}">{{producto.nombre}}</a></td>	
			<td>	{{producto.cantidad}} Kilo(s)</td>	
			</tr>
			{% endfor %}
		</table><!-- al estar fuera del bucle for, simplemente selecciono el primer y unico valor del array, osea el de indice "0"-->
		<h2>Factura Nº: &nbsp&nbsp <a href="http://localhost/proyecto/tienda/index.php/detalle_factura?id_factura={{facturas.0.id_factura}}">{{facturas.0.id_factura}}</a></h2>  
		<h2> Albaran Nº: &nbsp&nbsp <a href="http://localhost/proyecto/tienda/index.php/detalle_albaran?id_albaran={{facturas.0.id_albaran}}">{{facturas.0.id_albaran}}</a></h2>
		<h2> Factura Rectificativa Nº: &nbsp&nbsp <a href="http://localhost/proyecto/tienda/index.php/id_detalle_factura?factura={{facturas.0.fact_rectif}}">{{facturas.0.fact_rectif}}</a></h2>  

				<form action="index.php/{{volver}}" method="POST">
					<button  type="submit" name="volver"/>Volver a Pedidos</button>
				</form>
{% endblock %}	