{% extends "#{base}.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/{{base}}.css">
{% endblock %}



{% block content %}	
{% if base =='base' %}
{% set detalle = 'producto' %}
{% else %}
{% set detalle = 'mercancia' %}
{% endif %}
			<table id="datos_cliente">
			<th>Id Producto</th>
			<th>Nombre</th>
			<th>Cantidad</th>
			<!-- pedido.o.id_pedido para acceder a la id_pedido del primer producto ( está en todos pero sólo la necesito 1 vez)-->
			<h2>Detalles Pedido Nº &nbsp&nbsp {{pedido.0.id_pedido}}</h2>   
			{% for key, producto in pedido %}
			<tr>	
			<td>	{{producto.id_prod}}</td>	
			<td><a href="http://localhost/proyecto/tienda/index.php/detalle_{{detalle}}?id={{producto.id_prod}}">{{producto.nombre}}</a></td>	
			<td>	{{producto.cantidad}} Kilo(s)</td>	
			</tr>
			{% endfor %}
		</table>


				<form action="index.php/mis_pedidos" method="POST">
					<button class="depende" type="submit" name="mis_pedidos"/>Ir a Mis Pedidos</button>
				</form>
{% endblock %}	