{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/tarea4.css">
{% endblock %}

{% block content %}		

<body>
        <p>
        <h3><?= $bienvenida ?></h3>
        <div contact>
            <form method="POST"  action="<?php echo htmlentities($_SERVER['PHP_SELF']); ?>" autocomplete>
                <!--  se define método post y se evita inyección codigo malicioso con htmlentities -->
                <fieldset>
                    <legend>Entrada de datos personales</legend><br>



                    <label for="telefono">Telefono</label>
                    <input id="telefono" type="text" placeholder="Introduzca su teléfono" name="telefono" value="<?php if(isset($_SESSION['telefono'])){echo $_SESSION['telefono'];}?>" /> <!--  se establece el valor del campo para que se mantenga visible en la web -->

                    <br>

                    <label for="email">Dirección Email</label>
                    <input id="email" type="text" placeholder= "Introduzca su email" name="email" value="<?php if(isset($_SESSION['email'])){echo $_SESSION['email'];}?>" /> <!--  se establece el valor del campo para que se mantenga visible en la web -->
                    <br>
                    <!-- <input name="grabar" type="submit" , value="Grabar" , method="POST" /> -->
                    <!--  el botón "Grabar" da la orden de procesar el formulario -->
                    <button type="submit" name="grabar" method="POST">Grabar</button>
                </fieldset>
            </form>
            <br>
            <form method="POST" action="<?php echo htmlentities($_SERVER['PHP_SELF']); ?>" autocomplete>
                <fieldset >
                    <legend>Selección de Horario</legend><br>
                    <label for="horario">Horario</label>
                    <select name="horario" id="horario">
                        <option <?php if (!$choice) { ?>selected="true" <?php }; ?>value="">--- Elija una opción ---</option>
                        <option <?php if ($choice == 'mañana') { ?>selected="true" <?php }; ?>value='mañana'>Mañana</option>
                        <option <?php if ($choice == 'tarde') { ?>selected="true" <?php }; ?>value='tarde'>Tarde</option>
                        <option <?php if ($choice == 'noche') { ?>selected="true" <?php }; ?>value='noche'>Noche</option>

                    </select>
                    <!--    <input type="submit" name="grabar_hor" value="Grabar Horario"  method = "POST"/>-->
                    <!--  el botón "Grabar hoario" guardar el horario elegido en una cookie -->
                    <button type="submit" name="grabar_hor" method="POST">Grabar Horario</button>
                    <br><br>
                    <!--<input type="submit" name="borrar" value="Borrar" method="POST" />-->
                    <!--  el botón "Borrar" da la orden de borrar datos de sesión y elimina cookie-->
                    <button type="submit" name="borrar" method="POST">Borrar</button>
                </fieldset>
            </form>
        </div>

</body>

</html>
{% endblock %}	