{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/tarea4.css">
{% endblock %}


{% block content %}		



        <p>
            
        <h3 class='titulo'>BIENVENIDO {{cliente.nombre}}</h3>


        <div contact>
            <form method="POST"  action="" autocomplete>


                
                <!--  el botón "Cerrar Sesion" da la orden de borrar datos de sesión y elimina cookie-->

                    <button type="submit" name="cerrar_sesion" method="POST">Cerrar Sesion</button>
                </fieldset>
            </form>
        </div>


{% endblock %}	