{% extends "base_empl.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/base.css">
{% endblock %}


{% block content %}

<div class = 'bienvenida'>
    <h1>Bienvenido {{empleado.nombre}}</h1>
    <h3><i>{{mensaje_contrasena}}</i></h3>
    
    <form method="POST" action="" autocomplete>

        <nav>
            <ul class="menu">

                <li><a href="index.php/detalle_empleado">Mis Datos</a></li>
                <li><a href="index.php/control_pedidos">Pedidos</a></li>
                <li><a href="index.php/control_stock">Control de Stock</a></li>

            </ul>
        </nav>

        </fieldset>
    </form>


{% endblock %}