{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/base.css">
{% endblock %}

{% block toolbar %}      
<!-- indicando el block en vacio, anulo la herencia de base.html (en la pantalla login, no conviene ni es necesario que haya toolbar) -->
{% endblock %}

{% block content %}				

		 <h1>Inicio de Sesión</h1>

			 <form action="" method="POST">
	 
					 <label for="usuario">Usuario</label>
					 <input type="text" name="usuario" id="usuario" value= {{usuario}}  >	 <br> <br>
	 
	 
					 <label for="contrasena">Contraseña</label>
					 <input type="password" name="contrasena" id="contrasena"/>
					 <br>	 <br>	 <br>
	 
					 <!--	<input type = "submit" name ="entrar" value = "Entrar" method ="POST" /> -->
					 <button class='critical_green' type="submit" name="entrar" method="POST">Entrar</button>
					 <button type="submit" name="olvido" method="POST">Olvidé mi Contraseña</button>	 
			 </form>

	<form action="index.php/crear_cuenta" method="POST">
		<button type="submit" name="volver" value="Volver"/>Crear Cuenta</button>
	</form>

	<form action="index.php" method="POST">
		<button type="submit" name="volver" value="Volver"/>Volver a Tienda</button>
	</form>
{% endblock %}	