{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/base.css">
{% endblock %}


{% block content %}	
        <h2 class='titular'>Bienvenido {{cliente.nombre}}</h2>

            <form method="POST"  action="" autocomplete>


                <nav>
                    <!-- Menú de navegación -->
                        <ul>
                    
                                <li><a href="index.php/mis_datos">Mis Datos</a></li>    
                                <li><a href="index.php/mis_pedidos" >Mis Pedidos</a></li>                          
                                
                        </ul>        
                </nav>    
                
                <!--  el botón "Cerrar Sesion" da la orden de borrar datos de sesión y elimina cookie-->
               
            </form>


{% endblock %}	