{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/base.css">
{% endblock %}


{% block content %}	
<div class = 'bienvenida'>
        <h1>Bienvenido {{cliente.nombre}}</h1>
        <h3><i>{{mensaje_contrasena}}</i></h3>

            <form method="POST"  action="" autocomplete>
                    <fieldset>
                        <ul>                    
                                <li><a href="index.php/mis_datos">Mis Datos</a></li>    
                                <li><a href="index.php/mis_pedidos" >Mis Pedidos</a></li>               
                                
                        </ul>        
                </fieldset>
            </form>
</div>

{% endblock %}	