{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/base.css">
{% endblock %}

{% block content %}	
<h2>Cesta de {{cliente.nombre}}</h2>	

<form method="POST"  action="" autocomplete>


    <table>
        <th></th>
        <th>Nombre</th>
        <th>ID Producto</th>
        <th>Cantidad(Kg)</th>
        <th>€/Kg</th>
        <th>Subtotal</th>

        {% for key, producto in cesta %}
        <tr>
        <td><input type="checkbox" name="productos_borrar[]" class="checkbox"  value= {{producto.id_prod}}></td>
            <td><a href="http://localhost/proyecto/tienda/index.php/detalle_producto?id={{producto.id_prod}}">{{producto.nombre}}</a><td>{{producto.id_prod}}</td><td>{{producto.cantidad}}</td><td>{{producto.precio}}</td><td>{{ producto.cantidad * producto.precio}}€</td>
        </tr>
    
        {% endfor %}  
    </table>
   
    <table class='tabla2'>

          <tr><th>Total Peso :</th> <td>{{total_kg}} Kg</td></tr>
          <tr><th>Total Precio mercancias: </th><td>{{total_mercancia}} €</td></tr>    
          <tr><th>Coste de Envío: </th><td>{{coste_envio}} €</td></tr>    
          <tr><th><u>TOTAL A PAGAR:</u></th><td>{{total_pedido}}€</td></tr>  


          
    </table >
    <p>NOTA: Para pedidos de 10 KG o menos, el coste de envío es de 7,50€. Para pesos mayores, es de 15,00€<p>  
        
                    <button type="submit" name="borrar_producto" method="POST">Borrar Producto</button>

                    <button type="submit" name="vaciar_cesta" method="POST">Vaciar Cesta</button>
                         
                    <button type="submit" name="datos_envio" method="POST">Continuar a Datos Envio</button>
    
    </form>



{% endblock %}	