{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/base.css">
{% endblock %}

{% block content %}	
<h2 class='titular'>Cesta de {{cliente.nombre}}</h2>	

<form method="POST"  action="" autocomplete>


    <table>
        <th></th>
        <th>Nombre</th>
        <th>Id_Producto</th>
        <th>Cantidad</th>
        <th>€/Kg</th>
        <th>Subtotal</th>

        {% for key, producto in cesta %}
        <tr>
        <td><input type="checkbox" name="productos_borrar[]" class="checkbox"  value= {{producto.id_prod}}></td>
            <td><a href="http://localhost/proyecto/tienda/index.php/detalle_producto?id={{producto.id_prod}}">{{producto.nombre}}</a></td><td>{{producto.id_prod}}</td><td>{{producto.cantidad}}</td><td>{{producto.precio}}</td><td>{{ producto.cantidad * producto.precio}}€</td>
        </tr>
    
        {% endfor %}  
    </table>
    <table>

          <tr><td><h3>Total Productos: {{total_prods}}</h3></td></tr>
          <tr><td><h3>Total Peso mercancias: {{total_kg}} Kilo(s)</h3></td></tr>
          <tr><td><h3>Total Precio mercancias: {{total_precio}} €</h3></td></tr>    
          <tr><td><h3>Total pedido(mercancía + envío): PENDIENTE</h3></td></tr>  
    </table>
  
                    <button type="submit" name="borrar_producto" method="POST">Borrar Producto</button>

                    <button type="submit" name="vaciar_cesta" method="POST">Vaciar Cesta</button>
                         
                    <button type="submit" name="datos_envio" method="POST">Continuar a Datos Envio</button>
    
    </form>



{% endblock %}	