{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/tarea6.css">
{% endblock %}

{% block content %}
{% block mensaje %}
<p class='mensaje'>{{mensaje}}</p><br>
{% endblock %}

<form method="POST" action="" autocomplete>

    <fieldset>
    <div>
    <h2 class='titulo'>MIS PEDIDOS</h2>

    <table id="datos_cliente">
        <th>Id Pedido</th>
        <th>Nif Cliente</th>
        <th>Total Precio</th>
        <th>Total Peso</th>
    {% for key, pedido in pedidosArray %}
    <tr>
        <td><a href="http://localhost/proyecto/tienda/index.php/detalle_pedido?id_pedido={{pedido.id_pedido}}">{{pedido.id_pedido}}</a></td>
        <td>{{pedido.nif_cliente}}</td>
        <td>{{pedido.total_precio}}</td>
        <td>{{pedido.total_kg}} Kilo(s)</td>
    </tr>
    {% endfor %}
    </table>
    <div>
    </fieldset>


<fieldset>
    <div>

        <!--   el botón "Cerrar Sesion" da la orden de borrar datos de sesión y elimina cookie-->

        <button type="submit" name="volver_cuenta" method="POST">Ir a Mi Cuenta</button>

        <button type="submit" name="mis_pedidos" method="POST">Ver Mis Pedidos</button>

        <button type="submit" name="cerrar_sesion" method="POST">Cerrar Sesion</button>

        <button type="submit" name="eliminar_cuenta" method="POST">Eliminar Mi Cuenta</button>


    </fieldset>

    </div>
</form>



{% endblock %}