{% extends "base_empl.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/base.css">
{% endblock %}

{% block content %}
<form method="POST">



	<h2>ID Producto: {{producto.id_prod}} </h2>
	<img src="imagenes/{{producto.nombre}}.jpg" />
	<table>
		<td><b>Nombre:</b><input type ='text' name='nombre' value={{producto.nombre}}>{{producto.nombre}} </input></td>
		<td><b>Precio:</b><input type ='text' name='precio' value={{producto.precio}}>{{producto.precio}} </input>€/Kg</td>
		<td><b>Stock:</b><input type ='text' name='stock' value={{producto.stock}}>{{producto.stock}} </input>Kg</td>
		<td><b>Descripción:</b><br><textarea name='descripcion' maxlength='250' cols='75'
				value={{datos.descripcion}}>{{producto.descripcion}}</textarea></td>
	</table>
	<p class='importante'>
		{{validaciones.val_nombre}}<br>{{validaciones.val_precio}}<br>{{validaciones.val_stock}}<br>{{validaciones.val_descrip}}
	</p><br>

	<button type="submit" class='critical_green' name="guardar_cambios">Guardar Cambios</button>

	<button type="submit" name="volver_stock" />Volver a Stock</button>
</form>

{% endblock %}