{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/base.css">
{% endblock %}


{% block content %}


<form method="POST" action="" autocomplete>

    <h2>Pedido Nº &nbsp&nbsp <a href="http://localhost/proyecto/tienda/index.php/detalle_pedido?id_pedido={{id_pedido}}">{{id_pedido}}</a>  &nbsp&nbsp realizado con éxito</h2>
    <h2 class='mensaje'><b>IMPORTANTE: Por favor, asegúrese de indicar el ID de pedido como concepto del pago</b></h2><br><br>
        <fieldset>
            <legend>DATOS DE ENTREGA</legend>
            <table>
                <tr>
                    <th>NIF</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                </tr>
                <tr>
                    <td>{{cliente.nif}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellidos}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <th>Telefono</th>
                </tr>
                <tr>
                    <td>{{cliente.email}}</td>
                    <td>{{cliente.telefono}}</td>
                </tr>
                <tr>
                    <th>Direccion</th>
                    <th>Localidad</th>
                    <th>Codigo Postal</th>
                    <th>Provincia</th>
                </tr>
                <tr>
                    <td>{{cliente.direccion}}</td>
                    <td>{{cliente.localidad}}</td>
                    <td>{{cliente.cod_postal}}</td>
                    <td>{{cliente.provincia}}</td>
                </tr>
            </table>
            
        </fieldset>
        <fieldset class = 'campo'>
            <legend>DESGLOSE DE COSTES</legend>
            <table>
                <th>Nombre</th>
                <th>Id_Producto</th>
                <th>Cantidad</th>
                <th>€/Kg</th>
                <th>Subtotal</th>
    
                {% for key, producto in cesta %}
                <tr>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.id_prod}}</td>
                    <td>{{producto.cantidad}}</td>
                    <td>{{producto.precio}}</td>
                    <td>{{producto.cantidad * producto.precio}}€</td>
                </tr>
                {% endfor %}
                </table>
                <table id = 'tabla2'>
                <tr>
                    <th>Total Peso mercancias:</th>
                    <td>{{total_kg}} Kg</td>
                </tr>
                <tr>
                    <th>Total Precio mercancias: </th>
                    <td>{{total_precio}} €</td>
                </tr>
                <tr>
                    <th>Coste de Envío: </th>
                    <td>{{coste_envio}} €</td>
                </tr>
                <tr>
                    <th>Forma de Pago:</th>
                    <td class='upper'>{{forma_pago}}</td>
                </tr>
                <tr>
                    <th><u>TOTAL A PAGAR:</u></th>
                    <td><b>{{total_pedido}}€</b></td>
                </tr>
            </table>
        </fieldset>
        

            <!--   el botón "Cerrar Sesion" da la orden de borrar datos de sesión y elimina cookie-->

            <button type="submit" name="ver_productos" method="POST">Ir a Tienda</button>
            
            <button type="submit" name="mis_pedidos" method="POST">Ver Mis Pedidos</button>

            <button type="submit" name="volver_home" method="POST">Volver a mi Cuenta</button>


</form>



{% endblock %}