{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/tarea7.css">
{% endblock %}

{% block content %}


<form method="POST" action="" autocomplete>
    <form action="" method="POST">
        <fieldset>
        <legend>Busqueda</legend>

        <label for="cliente">Cliente</label>
        <input type="text" name="nif" id="nif" value= {{nif}}  >

        <label for="creado_fecha">Fecha Creación</label>
        <input type="text" name="creado_fecha" id="creado_fecha" value= {{creado_fecha}}  ><br>

        <button type="submit" name="buscar" method="POST">Buscar</button>

        </fieldset>
    <fieldset>


    <div>
    <h2 class='titulo'>PEDIDOS</h2>
    <h3 class='titulo'>{{mensaje}}</h2>
    <table id="datos_cliente">
        <th>Id Pedido</th>
        <th>Nif Cliente</th>
        <th>Total Peso</th>
        <th>Total Precio</th>
        <th>Forma Pago</th>
        <th>Estado Pago</th>
        <th>Estado Pedido</th>
        <th>Fecha Creado</th>
        <th>Fecha Envío</th>
        <th>Fecha Entrega</th>
    {% for key, pedido in lista_pedidos %}
    <tr>
        <td><a href="http://localhost/proyecto/tienda/index.php/detalle_pedido?id_pedido={{pedido.id_pedido}}">{{pedido.id_pedido}}</td>
        <td><a href="http://localhost/proyecto/tienda/index.php/detalle_cliente?id_cliente={{pedido.nif_cliente}}">{{pedido.nif_cliente}}</a></td>
        <td>{{pedido.total_kg}} Kilo(s)</td>
        <td>{{pedido.total_precio}} €</td>
        <td>{{pedido.forma_pago}} </td>
        <td>{{pedido.estado_pago}} </td>
        <td>{{pedido.estado_pedido}} </td>
        <td>{{pedido.creado_fecha}} </td>
        <td>{{pedido.enviado_fecha}} </td>
        <td>{{pedido.entregado_fecha}} </td>

    </tr>
    {% endfor %}
    </table>
    <div>
    </fieldset>


<fieldset>
    <div>

        <!--   el botón "Cerrar Sesion" da la orden de borrar datos de sesión y elimina cookie-->

        <button type="submit" name="volver_cuenta" method="POST">Ir a Mi Cuenta</button>

        <button type="submit" name="cerrar_sesion" method="POST">Cerrar Sesion</button>

        <button type="submit" name="eliminar_cuenta" method="POST">Eliminar Mi Cuenta</button>


    </fieldset>

    </div>
</form>



{% endblock %}