{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/tarea8.css">
{% endblock %}

{% block migas_pan %}
      <!-- Sobreescribo el block migas de pan del base.html para omitirlo, ya que no tiene mucho sentido en esta vista -->
{% endblock %}

{% block toolbar %}
{% endblock %}

{% block content %}




    <h3 class='titulo'>Gracias por registrarte! Registro realizado con éxito.</h3>
    <div>

    </div>


    <form method="POST" action="index.php/mi_cuenta">
    <div>
        <fieldset>
            <!--   el botón "Cerrar Sesion" da la orden de borrar datos de sesión y elimina cookie-->

            <button type="submit" method="POST">Continuar</button>


        </fieldset>
    </div>
</form>



{% endblock %}