{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/base.css">
{% endblock %}

{% block migas_pan %}
      <!-- Sobreescribo el block migas de pan del base.html para omitirlo, ya que no tiene mucho sentido en esta vista -->
{% endblock %}

{% block toolbar %}
{% endblock %}

{% block content %}




    <h3 class='titulo'>Gracias por registrarte! Registro realizado con éxito.</h3>


    <form method="POST" action="index.php/mi_cuenta">


            <button type="submit" method="POST">Continuar</button>


    </form>



{% endblock %}